In [3]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
crashes = pd.read_csv('../Datafiles/plane_crashes_data.csv')

In [5]:
crashes.shape

(2709, 10)

In [6]:
list(crashes.columns.values)

['month',
 'hour',
 'year',
 'location',
 'operator',
 'route',
 'type',
 'aboard',
 'fatalities',
 'summary']

In [7]:
crashes.head(10)

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...
5,5,10,1950,"Myrtle Beach, South Carolina",Military - U.S. Air Force,NaN,Curtiss C-46D,39,39,"Lost the left aileron after taking off, lost c..."
6,5,17,1950,"Teterboro, New Jersey",Regina Cargo Airlines,NaN,Curtiss C-46F-1-CU,2,1,The cargo plane lost an engine on takeoff and ...
7,6,22,1950,AtlantiOcean off Florida,Westair Transport,San Juan - Wilmington NC,Curtiss C-46-F-1-CU,65,28,Ditched into the Atlanti300 miles east of Melb...
8,6,19,1950,"Near Fonseca, Colombia",New Tribes Mission,"Kingston, Jamacia - Maracaibo, Venezuela",Douglas DC-3-178,15,15,Crashed and burned 19 miles east northeast of ...
9,6,21,1950,Off Bahrain,Air France,Saigon - Paris,Douglas DC-4-1009,52,46,"While making a final approach for Bahrain, the..."

In [20]:
crashes['year'].max()

2009

In [18]:
tempcrashes = crashes.loc[lambda crashes: crashes['year'] >= 1980]

In [15]:
type(tempcrashes)

pandas.core.frame.DataFrame

In [21]:
tempcrashes['fatalities'].mean()

24.932607215793055

In [24]:
crashes['month'].value_counts()

1     255
12    252
3     251
8     239
7     234
11    230
9     228
10    224
2     209
4     204
6     202
5     181
Name: month, dtype: int64

In [25]:
crashes['fatalities'].max()

583

In [28]:
tempcrashes2 = crashes.loc[lambda crashes: crashes['fatalities'] >= 1]

In [29]:
tempcrashes2.shape

(2660, 10)

In [30]:
crashes.shape

(2709, 10)

In [37]:
tempcrashes3 = (crashes['fatalities'] / crashes['aboard'])*100

In [39]:
tempcrashes3.mean()

82.31319223510573